.collection-item {
  flex-direction: column;
  overflow: hidden;
  height: 350px;
  background: white;
  position: relative;
  transform: rotate(0deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    transform: rotate(3deg) scale(1.05);
  }

  .image {
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0.5rem;
  }

  .add-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 30px;
    width: 30px;

    color: #0c1317;
    background: #ec622d;
    border-radius: 50%;

    &:hover {
      color:  #ec622d;
      background: #0c1317;
    }

    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .collection-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 1rem;
    background: white;

    .price {
      font-weight: bold;
    }
  }
}
