.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid #0c1317;
    background-color: white;
    top: 70px;
    right: 0px;
    z-index: 5;
    border-radius: 5px;
  
    .cart-items {
      height: 265px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }

    .no-items {
      font-size: 1.2rem;
      text-align: center;
      padding: 1rem;
      background: #ec622d;
      font-weight: bold;
      color: #0c1317;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
    button {
      margin-top: auto;
    }
  }
  