@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}


body {
  background: #0c1317;
  margin: 0;
}

h1 ,h2, h3, h4, h5, h6 {
  font-family: 'Sansita Swashed', cursive;
  color: #ec622d;
}
  